<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>SATO JABAR</title>
      <script src="https://cdn.tailwindcss.com"></script>
   </head>
   <script>
      // Data yang dikirim dari server
      var animalsData = <%- JSON.stringify(animals) %>;
    </script>
   <body>
      <!-- Panel Navigasi -->
      <nav class="bg-[#556B2F] p-4 text-white fixed w-full top-0 z-50">
         <div class="flex justify-between">
            <div class="flex space-x-2">
              <!-- Add your images here with appropriate Tailwind CSS classes -->
              <img src="ITB.png" alt="Logo 1" class="h-10 w-10">
              <img src="KLHK.png" alt="Logo 2" class="h-10 w-10">
              <img src="SATOJABAR.png" alt="Logo 3" class="h-15 w-20">
            </div>
         <div class="flex justify-center">
            <ul class="flex space-x-4">
               <li class="hover:bg-[#475B26] py-2 px-4 rounded text-center">
                  <a href="#" class="block">INFORMASI SATWA LANGKA</a>
               </li>
               <li class="hover:bg-[#475B26] py-2 px-4 rounded text-center">
                  <a href="#" class="block">PERMASALAHAN KONSERVASI</a>
               </li>
               <li class="hover:bg-[#475B26] py-2 px-4 rounded text-center">
                  <a href="#" class="block">PETA DAN STATISTIK</a>
               </li>
            </ul>
         </div>
      </nav>
      <!-- End of Panel Navigasi-->

      <div class="relative">
         <!-- relative container for absolute positioned children -->
         <!-- Background image -->
         <img src="Background1.png" alt="Deskripsi Gambar" class="w-full h-auto absolute top-0 left-0">
         <!-- Foreground image -->
         <img src="SATOJABAR.png" alt="Deskripsi Gambar" class="w-full h-auto absolute top-0 left-0 scale-50">
         <div class="relative text-center p-4">
            <!-- Position relative to allow absolute positioning within, and text-center to center text -->
            <!-- Assuming SATOJABAR.png is a part of this div and positioned accordingly -->
            <h1 class="relative text-center text-white text-l mt-80">Sistem Informasi Terpadu Konservasi Hewan Provinsi Jawa Barat</h1>
            <!-- mt-2 gives some space from the image above -->
         </div>
      </div>
      <div class="relative mt-60">
         <img src="Page2.png" alt="" class="w-full h-auto absolute">
         <div class="flex justify-center">
            <div class="grid grid-cols-2 md:grid-cols-3 gap-4 p-4 absolute">
               <!-- Column Box 1 -->
               <div class="bg-white rounded-lg overflow-hidden shadow-lg">
                  <img src="Owa.jpg" alt="Owa Jawa" class="w-full h-32 sm:h-48 object-cover">
                  <div class="p-4">
                     <h3 class="text-lg font-bold" onclick="showPopup(this)">OWA JAWA</h3>
                     <p class="text-sm">Hylobates moloch</p>
                  </div>
               </div>
               <!-- Column Box 2 -->
               <div class="bg-white rounded-lg overflow-hidden shadow-lg">
                  <img src="Surili.jpg" alt="Surili" class="w-full h-32 sm:h-48 object-cover">
                  <div class="p-4">
                     <h3 class="text-lg font-bold" onclick="showPopup(this)">SURILI</h3>
                     <p class="text-sm">Presbytis comata</p>
                  </div>
               </div>
               <!-- Column Box 3 -->
               <div class="bg-white rounded-lg overflow-hidden shadow-lg">
                  <img src="Macan.jpg" alt="Macan Tutul Jawa" class="w-full h-32 sm:h-48 object-cover">
                  <div class="p-4">
                     <h3 class="text-lg font-bold" onclick="showPopup(this)">MACAN TUTUL JAWA</h3>
                     <p class="text-sm">Panthera pardus melas</p>
                  </div>
               </div>
            </div>
         </div>

         <div class="flex justify-center mt-80">
            <div class="grid grid-cols-2 md:grid-cols-2 gap-4 p-4 absolute">
               <!-- Column Box 4 -->
               <div class="bg-white rounded-lg overflow-hidden shadow-lg">
                  <img src="Kukang.jpg" alt="Owa Jawa" class="w-full h-32 sm:h-48 object-cover">
                  <div class="p-4">
                     <h3 class="text-lg font-bold" onclick="showPopup(this)">KUKANG JAWA</h3>
                     <p class="text-sm">Nycticebus javanicus</p>
                  </div>
               </div>
               <!-- Column Box 5 -->
               <div class="bg-white rounded-lg overflow-hidden shadow-lg">
                  <img src="Lutung.jpg" alt="Surili" class="w-full h-32 sm:h-48 object-cover">
                  <div class="p-4">
                     <h3 class="text-lg font-bold" onclick="showPopup(this)">LUTUNG JAWA</h3>
                     <p class="text-sm">Trachypithecus mauritius</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>

  <div id="popup" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">
    <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
        <div class="mt-3 text-center">
            <p id="popup-text" class="text-lg font-semibold"></p>
            <button class="mt-5 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 focus:outline-none" onclick="closePopup()">Tutup</button>
        </div>
    </div>
</div>

<script>
    function showPopup(element) {
      console.log(animalsData);
        // Mengambil teks dari elemen h3
        var titleText = element.textContent || element.innerText;
        console.log(titleText);

        var matchedAnimal = animalsData.find(animal => animal.name === titleText);
      if (matchedAnimal) {
                 // Mengambil teks dari elemen p yang merupakan saudara dari h3
        var detailText = element.nextElementSibling.textContent || element.nextElementSibling.innerText;
        console.log(detailText);
        // Mengambil sumber gambar dari img dalam parent yang sama
        var imgSrc = element.parentNode.parentNode.querySelector('img').src;
        var imgAlt = element.parentNode.parentNode.querySelector('img').alt;
        console.log(imgSrc);
        // Menyiapkan konten popup dengan teks dan gambar
        var popupContent = "<img src='" + imgSrc + "' alt='" + imgAlt + "' class='w-full h-32 sm:h-48 object-cover'><h3 class='text-lg font-bold'>" + titleText + "</h3><p class='text-sm'>" + detailText + "</p>";

          // Menyiapkan konten popup dengan teks dan gambar
          var popupContent = "<img src='" + imgSrc + "' alt='" + imgAlt + "' class='w-full h-32 sm:h-48 object-cover'><h3 class='text-lg font-bold'>" + titleText + "</h3><p class='text-sm'>" + detailText + "</p>" + "</h3><p class='text-sm'>" + matchedAnimal.deskripsi + "</p>";

          // Menampilkan teks dan gambar di dalam popup
          document.getElementById('popup-text').innerHTML = popupContent;

          // Menampilkan popup
          document.getElementById('popup').style.display = 'block';
      } else {
          // Tampilkan pesan error atau isi default jika tidak ada kecocokan
          document.getElementById('popup-text').innerHTML = "<p>Informasi tidak tersedia.</p>";
          document.getElementById('popup').style.display = 'block';
      }


        // Menampilkan teks dan gambar di dalam popup
        document.getElementById('popup-text').innerHTML = popupContent;

        // Menampilkan popup
        document.getElementById('popup').style.display = 'block';
    }

    function closePopup() {
        // Menutup popup
        document.getElementById('popup').style.display = 'none';
    }
</script>

</html>