<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tailwind Test</title>
  <link href="/src/output.css" rel="stylesheet">
</head>
<body>
  <div class="text-base sm:text-sm md:text-md lg:text-lg xl:text-xl">
    This text size changes at different breakpoints.
  </div>
</body>
</html>